{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/start" method="post">

          <p>
              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h1 class="govuk-fieldset__heading">
                              How long have clinical signs been present?
                          </h1>
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="select-practice" name="select-practice" type="radio" value="Practice 1">
                              <label class="govuk-label govuk-radios__label" for="select-practice">
                                  Less than 1 week
                              </label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="select-practice-2" name="select-practice" type="radio" value="Practice 2">
                              <label class="govuk-label govuk-radios__label" for="select-practice-2">
                                  Between 1 week and 1 month
                              </label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="select-practice-3" name="select-practice" type="radio" value="Practice 3">
                              <label class="govuk-label govuk-radios__label" for="select-practice-3">
                                  Over 1 month and up to 3 months
                              </label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="select-practice-4" name="select-practice" type="radio" value="Practice 4">
                              <label class="govuk-label govuk-radios__label" for="select-practice-4">
                                  Over 3 months
                              </label>
                          </div>                         

                      </div>

                  </fieldset>
              </div>
          </p>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
